/* ============================================================
                    Thème global
============================================================ */

:root {
    /* Palette de couleurs */
    --colback: #2b003a;
    --transiback: #180020;

    /* Semantic */
    --bg: linear-gradient(
        160deg, black, var(--transiback), var(--colback), var(--transiback), black
        );
    
    --transispeed: 500ms ease;
}

html {
  font-family: 'Helvetica';
  scroll-behavior: smooth;
}


/* ============================================================
                    Layout
============================================================ */

body {
    margin: 0;
    background: var(--bg);
    font-family: 'Helvetica';    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    }

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    flex: 1;
}

footer {
    text-align: center;
    padding: 0;
    color: gray;
}



/* ============================================================
                Links
============================================================ */

a {
    color: black;
    margin-right: 1rem;
    text-decoration: none;
}

a:hover {
    color: black;
}