---
import layout from '../layouts/Layout.astro';
import header from "../components/header.astro";
---


<html lang="fr">
	<head>
		<title>Rokoudram</title>
	</head>

	<body>

		<header />
		
    	<h1>Bonjour !</h1>

		<layout title="Page d'accueil">
  			<p> Bienvenue sur ma page GitHub </p>
		</layout>
	</body>
</html>