---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page d'accueil">
	<p> Bienvenue sur ma page GitHub
		
	a
	z 

	z

	z

	z

	z

	z

	z

	z
	z

	z

	z
	z

	z
	z

	z

	z
	z
	z


	z

	z
	z
	z
	z
	z
	z
	z


	z


	z

	z

	z

	z
	z
</p>
</BaseLayout>
