---
import layout from '../layouts/Layout.astro';
---

<header />

<html lang="fr">
  <head>
    <title>Rokoudram</title>
  </head>

  <body>
    <h1>Bonjour !</h1>

		<layout title="Page d'accueil">
  			<p> Bienvenue sur ma page GitHub </p>
		</layout>
  </body>
</html>