---
import MySiteLayout from '../layouts/MySiteLayout.astro';
---


<html lang="fr">
  <head>
    <title>Rokoudram</title>
  </head>

  <body>
    <h1>Bonjour !</h1>

    <MySiteLayout title="Page d'accueil">
  		<p> Bienvenue sur ma page GitHub </p>
	</MySiteLayout>

  </body>
</html>