---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page d'accueil">
  <h1>La bataille des jardiniers</h1>

    <p> Il s'agit d'une variante du très calissique jeu de la bataille navale ! </p>
</BaseLayout>
