<header>
    <h1> <nav> <a href="/jeux-maths"> Jeux mathématiques </a> </nav> </h1>

    <nav>
        <a href="/jeux-maths"> Accueil </a>
        <a href="/jeux-maths/jardiniers"> Bataille des jardiniers </a>
        <a href="/jeux-maths/curvle"> Curvle </a>
        <a href="/jeux-maths/about"> À propos </a>
        <a href="/jeux-maths/contact"> Contact </a>
    </nav>
</header>

<style>
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    background: linear-gradient(
        115deg,
        #f07a43,
        #e02c3b,
        #ec3361
    );
    color: rgb(3, 100, 0);
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}
</style>
