---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Des chiffres et des chiffres">
  <h1>Des chiffres et des chiffres</h1>

    <p> La partie mathématique du jeux télévisé "Des chiffres et des lettres" </p>
</BaseLayout>
