---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Jeux">
	<p> Page d'accueil des jeux </p>

    <nav>
        <a href="/jeux-maths/jeux/jardiniers"> Bataille des jardiniers </a>
        <a href="/jeux-maths/jeux/curvle"> Devine la courbe </a>
    </nav>

</BaseLayout>

<style>
nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
    padding: 20px;
}

nav a {flex: 1;
    display: flex;
    justify-content: center;
    color:white;
    width: 180px;
    height: 100px;
    margin: 10px;
    padding: 20px 36px 20px 36px;
    border: 5px solid black;
    border-radius: 10px;
    background: linear-gradient(
    135deg,
    #6a11cb 0%,
    #2575fc 50%,
    #00d4ff 100%
);
}

nav a:hover {
    color: #3a2242 ;
    transform: scale(1.2);
}
</style>