---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sections } from "../../../config/liste-jeux";
---


<BaseLayout title="Jeux">
    <section class="intro">
        <p>
            Page d'accueil des jeux
        </p>
    </section>

    <div class="grid">
        {
            sections.map(section => (
                <div class="zoom">
                    <a class="card" href={section.href}>
                        <h2>{section.title}</h2>

                        <p>
                            {section.description}
                        </p>

                        <span>
                            Jouer →
                        </span>
                    </a>
                </div>
            ))
        }
    </div>

</BaseLayout>



<style>
.intro {
    min-width: 50px;
    max-width: 800px;
    font-size: 1.2rem;
}

.intro p {
    margin-bottom: 1.5rem;
}

.grid {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3,240px);
    gap: 4rem;
}


</style>