---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/base_style.css";

const { title = "Jeux mathématiques"} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>

    <Header />

    <main>
        <slot />
    </main>

    <Footer />

  </body>

</html>