---
const { title } = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <a href="#">Accueil</a>
      <a href="#">Articles</a>
      <a href="#">Contact</a>
    </nav>
    <h1>{title}</h1>
    <article>
      <slot /> <!-- Votre contenu est injecté ici -->
    </article>
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>