---
const { title = "Jeux mathématiques"} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>

    <header />

    <main>
        <slot />
    </main>

    <footer />

  </body>

  <style>
    h1 {
      font-size: 2rem;
    }
  </style>

</html>