---
import header from "../components/header.astro";
import footer from "../components/footer.astro";
import "../styles/base_style.css";

const { title = "Jeux mathématiques"} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>

    <header />

    <main>
        <slot />
    </main>

    <footer />

  </body>

</html>